<h2>Users Component</h2>
<ul *ngIf="loaded && users.length > 0">
  <li *ngFor="let user of users">
    <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    <ul *ngIf="showExtended && user.age && user.address">
      <li>Age: {{ user.age }}</li>
      <li>street: {{ user.address.street }}</li>
      <li>city: {{ user.address.city }}</li>
      <li>state: {{ user.address.state }}</li>
    </ul>
  </li>
</ul>

<h4 *ngIf="loaded && users.length == 0">No Users Found :( </h4>

<h4 *ngIf="!loaded">Loading Users...</h4>